<figure id='graph'></figure>
<div class="toggle_container">
    <mat-slide-toggle [(ngModel)]="showBtc" (change)="onToggle('btcPrice', showBtc)">Bitcoin</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showTotal" (change)="onToggle('global', showTotal)">Capitalisation totale</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showTrend" (change)="onToggle('trend', showTrend)">Google trend</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showBtcDom" (change)="onToggle('btcDom', showBtcDom)">Dominance du Bitcoin</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showVol" (change)="onToggle(vol, showVol)">Volume d'échange</mat-slide-toggle>
</div>