<div *ngIf="displaySpinner" class="loader"></div>
<div class="tooltip"></div>
<div class="treemap_container">
    <div>
        <h4>Année 2014: Market CAP = {{marketCap2014}}$  Milliards</h4>
        <figure id='graph1a'></figure>
    </div>
    <div>
        <h4>Année 2018: Market CAP = {{marketCap2018}}$ Milliards</h4>
        <figure id='graph1b'></figure>
    </div>
    <div>
        <h4>Année 2021: Market CAP = {{marketCap2021}}$ Milliards</h4>
        <figure id='graph1c'></figure>
    </div>
</div>