.main-container {
    text-align: center;
    height: 1000px;
    margin: 40px;
}

.description {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    // text-justify: inter-word;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}