.main-container {
    text-align: center;
    height: 1100px;
    margin: 40px;
}

.description {
    width: 65%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
}