<mat-toolbar color="primary">
    <span>Projet Crypto</span>
</mat-toolbar>
<div class="main-container" style="padding-bottom: 100px">
    <h1>Visualisation 1 - Dominance du Bitcoin vs les autres cryptommonaies</h1>
    <h3>Comparaison des 3 différents sommet de valorisation qu'ont connus les cryptomonnaies, et comment est réparti le capital entre elles.</h3>
    <app-data-viz1></app-data-viz1>
    <p><strong>Explication</strong>: L’objectif de cette visualisation est de montrer la place que prend le Bitcoin par 
        rapport aux 10 altcoins les plus capitalisés. Chaque carré représente donc une crypto monnaie, 
        et son aire est proportionnelle à sa capitalisation par rapport à la capitalisation totale du marché. 
        Ainsi, si la capitalisation du bitcoin représente 1,1 Trillion USD$ et que la capitalisation totale 
        est de 1,8T USD$, le bitcoin occupera 60% de l’espace. En ayant les trois tree maps juxtaposées, 
        cela permettra de comparer les différents niveaux atteints et les particularités d’un cycle à l’autre, 
        comme les nouveaux altcoin qui s'immiscent dans le marché. La croisance de chaque cryptomonnaies est 
        déterminé par une comparaison à sa valeur de capitalisation de l'année précédente choisie, soit 2014, 2018 
        et 2021 (les années des "explosions" du prix) .</p>
</div>
<div class="main-container">
    <h1>Visualisation 2 - S&P500 vs Bitcoin</h1>
    <h3>Comparaison entre la valeur monétaire du Bitcoin et du S&P500 pour les mêmes dates.</h3>
    <app-data-viz2></app-data-viz2>
    <p><strong>Explication</strong>: Cette visualisation a comme but de démontrer l'existence ou l'inexistence d'une 
        relation entre la capitalisation du marché traditionnel (les 500 plus grandes compagnies, S&P500) 
        et le marché des crypto-monnaies (Bitcoin).</p>
</div>
<div class="main-container">
    <h1>Visualisation 3 - Les cycles du marché des cryptommonaies</h1>
    <h3>Analyse des cycles du marché et du bitcoin à l'aide d'indicateur comme la BTC dominance et Google Trends </h3>
    <app-data-viz3></app-data-viz3>
    <p><strong>Explication</strong></p>
</div>
