/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif }

.legend {
    .legendTitle {
        font-size: larger;
        text-decoration: underline;
    }
}

#tooltip {
    // border: 1px solid rgb(97, 97, 97);
    text-align: left;
    border-radius: 3px;
    // box-shadow: 0px 5px 8px 1px #828282;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1a {
    // border: 1px solid rgb(97, 97, 97);
    text-align: left;
    border-radius: 3px;
    // box-shadow: 0px 5px 8px 1px #828282;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1b {
    // border: 1px solid rgb(97, 97, 97);
    text-align: left;
    border-radius: 3px;
    // box-shadow: 0px 5px 8px 1px #828282;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1c {
    // border: 1px solid rgb(97, 97, 97);
    text-align: left;
    border-radius: 3px;
    // box-shadow: 0px 5px 8px 1px #828282;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

.pinTooltip {
    background-color: black;
}

.pinTooltip .pinTooltipText {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    z-index: 1;
}

.pinTooltipTextTitle {
    color: white;
    padding: 0;
    margin: 0;
}