/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif }

.legend {
    .legendTitle {
        font-size: larger;
        text-decoration: underline;
    }
}

#tooltip {
    // border: 1px solid rgb(97, 97, 97);
    text-align: left;
    border-radius: 3px;
    // box-shadow: 0px 5px 8px 1px #828282;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}