/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
//     background: rgb(34,57,126);
// background: linear-gradient(to right, rgba(34,57,126,1) 0%, rgba(43,96,180,1) 100%); 

// background: linear-gradient(to right, rgba(0,1,51,1) 0%, rgba(13,45,129,1) 100%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.legend {
    .legendTitle {
        font-size: larger;
        text-decoration: underline;
    }
}

.dark-mode {
    background:rgb(34, 37, 49);
    color: white;
    text { color: white; fill: white;}
    #tooltip, #tooltip1a, #tooltip1b, #tooltip1c, .rectTooltip {
        color: black;
    }
    .spacer {
        border-bottom: 1px solid white;
    }
    .cycle {
        fill: lightcoral;
    }
}

.spacer {
    width: 50%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid black;
}

#tooltip {
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1a {
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1b {
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

#tooltip1c {
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    #title {
        font-size: larger;
        font-weight: 500;
    }   
}

.pinTooltip {
    background-color: black;
}

.pinTooltip .pinTooltipText {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    z-index: 1;
}

.pinTooltipTextTitle {
    color: white;
    padding: 0;
    margin: 0;
}

.rect:hover {
    opacity: 0.5;
}

.rectTooltip {
    padding-top: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 7px;
}